    /*generics*/


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        margin: 0 auto;
        width: 1200px;
    }

    body {
        font-family: sans-serif;
        color: #23272a;
    }

    button {
        border-radius: 40px;
        padding: 7px 16px;
        background-color: #fcfcfe;
        border: 0px;
    }

    button:hover {
        box-shadow: 0 5px 15px #FFB869;
        color: #FFB869;
    }

    /*utility*/

    :root {
        --grey: grey;
        --section-spacing-top-bottom: 120px 0;
    }

    .flex-container {
        display: flex;
    }

    /*header row section*/



    .header-links {
        justify-content: space-between;
        width: 50%;
    }

    .header-links>a {
        color: white;
        text-decoration: none;

    }

    .nav-row-background {
        background-color: #255EE9;

    }

    .nav-row {
        justify-content: space-between;
        align-items: center;

        min-height: 100px;
    }

    #access-button {
        line-height: 24px;
        font-size: 14px;
    }


    /*header main section*/



    .jumbotron-background {

        background-image: url(../img/jumbo.png);
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
    }

    .jumbotron-content {
        width: 40%;
        margin: 0 auto;
    }

    .jumbotron {

        text-align: center;
        padding: var(--section-spacing-top-bottom);
        min-height: 400px;


    }

    h1 {
        margin-bottom: 30px;
        font-size: 3.5rem;
    }

    .jumbotron-text>p {
        margin-bottom: 20px;
    }

    .jumbotron-buttons>button {
        font-size: 20px;
        padding: 16px 32px;
        margin: 0 10px;
    }

    #browser-button {
        background-color: #23272a;
        color: white;
    }

    /*main*/

    .dark-wave {
        height: 100px;
        background-image: url(../img/wave.svg);

    }

    .dark-wave-layover {
        height: 100%;
        background-color: #ffffffd3;
    }




    .section-background {

        min-height: 500px;
    }

    .section-txt {
        width: 30%;
        padding-left: 40px;
        margin-top: 40px;



    }

    .section-txt>p {
        line-height: 25px;
        font-weight: 600;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 800;
        margin-bottom: 30px;

    }

    ul {
        list-style-type: none;
    }

    li>section {
        padding: var(--section-spacing-top-bottom);
        justify-content: space-between;

    }

    ul li:nth-child(2n) {
        background-color: lightgray;
    }

    ul li:nth-child(2n) section .section-txt {
        order: -1;
        padding-left: 0;
        padding-right: 40px;
    }

    /*BIGGER SECTION*/

    .big-section-container {
        text-align: center;
        line-height: 30px;
        padding: var(--section-spacing-top-bottom);

    }

    .big-section-text-top {

        margin-bottom: 30px;
        padding: 0 30px
    }

    .stars {}

    .big-section-text-bottom {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    #big-section-img {
        width: 100%;
    }

    #mac-download-button {
        background-color: #8ea1e1;
        color: white;
        font-size: 20px;
        padding: 16px 32px;
    }


    /*footer*/

    .footer-background {
        background-color: #23272a;

    }

    .footer-top {
        min-height: 500px;
        padding-top: 80px;
        padding-bottom: 40px;
        color: white;
        border-bottom: 1px solid #8ea1e1;


    }

    h3 .social-column {
        font-size: 2em
    }



    .social-column {
        width: 30%;

    }

    .menu-columns {
        width: 100%;
        flex-grow: 1;
        padding-left: 100px;

    }

    .links-column {
        width: 25%
    }


    .social-column>h3 {
        color: #8ea1e1;
        font-size: 2rem;
        margin-bottom: 50px;


    }

    .links-column>a {
        text-decoration: none;
        color: white;
        line-height: 30px;
    }

    h4 {
        color: #8ea1e1;
    }

    .language {
        height: 20px;
        line-height: 20px;
        margin-bottom: 20px;

    }

    #italian-flag {
        height: 100%;
    }




    .social-links>a {
        font-size: 20px;
        color: white;
        margin-right: 30px;

    }


    /*footer last row*/

    .footer-bottom-row {

        min-height: 60px;
        justify-content: space-between;
        align-items: center;
    }

    #registration-button {
        border-radius: 40px;
        padding: 7px 16px;
        background-color: #8ea1e1;
        border: 0px;
        color: white;
    }